.sidebarNav {
    background-color: var(--custom-gray-light);
    padding: 1rem 0.5rem;
    border-radius: 20px;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    font-size: 0.85rem !important;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
    width: 240px;
}

.sidebarNavActive {
    background-color: var(--custom-green-dark);
    color: white;
    border-radius: 12px;
    font-weight: bold;
    padding: 10px;
}

.sidebarNavInactive {
    color: var(--custom-font-color-secondary);
    font-weight: 500;
    padding: 10px;
}

.sidebarNavActiveIndicator {
    background-color: white;
    width: 5px;
    height: 100%;
    border-radius: 10px;
}

.sidebarText {
    font-size: 1rem;
    font-weight: bold;
}

@media (max-width: 768px){
    .sidebarNav{
        display: none;
    }
}